html {
  scroll-behavior: smooth;
}
.card-img-size{
  min-height: 224px;
  object-fit: contain;
}
.card-size{
  width:-webkit-fill-available;
  height: 100%;
}
.my-10{
  margin-top: 5rem;
  margin-bottom: 5rem;;
}
.mt-10{
  margin-top: 5rem;
}
#termsAndCondition{
  color: white;
  background-color: #2B8E29;
  padding: 2rem 0;
  line-height: 160%;
}
.round-border{
  border: 1px solid lightgray;
  border-radius: 2rem;
  padding:2rem;
}
textarea{
  resize: vertical;
  width: -webkit-fill-available;
  border: 1px solid #2B8E29;
  border-radius: 0.2rem;
}
.image-container{
  width: -webkit-fill-available;
  height: auto;
}
.image-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.6rem;
}
.small-radius{
  border-radius: 0.6rem !important;
  padding: 1rem;
}